:root {
  --primary-color: #282828;
  --accent-color: #20a9d3;
  --white-color: #ffffff;
}

* {
  font-weight: 400 !important;
}

a {
  color: var(--primary-color) !important;
}

input,
button {
  border-radius: 0 !important;
  outline: none !important;
}

.brand {
  font-weight: 500 !important;
}

.temperature {
  font-size: 8.8rem;
}

.tabs {
  cursor: pointer;
}
